<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Researcher</title>
</head>
<body>
    <h1>Create Collection</h1>
    <div class="container" >
        <form action="/researcher/submit" method="POST">
            <p>Enter collection name below:</p>
            <input type="text" id="col_name">
            <input type="submit" value="Submit" class="btn">
        </form>
    </div>
</body>
</html>