<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Researcher</title>
</head>
<body>
    Researcher: <div class="usr">{{ usr | safe }}</div>
    <br>
    <h1>Create Collection</h1>
    <form action="/researcher/submit" method="POST" role="form">
        <p>Enter collection name below:</p>
        <input type="text" name="col_name"></input>
        <input type="submit" value="Submit" class="btn"></input>
        <input type="hidden" name="usr" value="{{ usr }}"></input>
    </form>
    {% if message %}
        <div class="message">{{ message | safe }}</div>
    {% endif %}
</body>
</html>